<p>
    Egy, egy almafa,<br>
    Kettő, két katica,<br>
    Három, három kiskacsa,<br>
    Egy-kettő-három.<br>
    <br>
    Négy, négy póniló,<br>
    Öt, öt porszívó,<br>
    Hat, hat pillangó,<br>
    Négy-öt-hat.<br>
    <br>
    Hét, hét repülő,<br> 
    Nyolc, nyolc serpenyő,<br>
    Kilenc, kilenc esernyő,<br>
    Tíz ujjad van.<br>
    <br>
    Egyszerű, mint az egy meg egy,<br>
    Könnyű megtanulni.<br>
</p>